# Ignore virtual environment and cache
venv/
__pycache__/
*.pyc

# Ignore Streamlit, local configs, and temp assets
attached_assets/
.streamlit/
.local/
.replit

# Ignore OS and IDE files
.DS_Store
.vscode/
